<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
    <!-- Custom files. -->
    <link rel="stylesheet" href="../../../../css/style.css?{{ cacheBuster }}" media="all" />
    <!-- End custom files. -->
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}">

		